.about.container
    h1.page-header About
    p This is a customer manager app built with the Angular 6 framework using PUG and .NET Web API.
    p Client hosted in firebase and API hosted in azure
    p Code available on 
        a(href="http://github.com/emmanuel128/ngCustomers", target="_blank") GitHub
        | .
    p Reference: 
        a(href="https://github.com/bradtraversy/vcustomers", target="_blank") Brad Traversy