.details.container
    //- route back
    h1.page-header
        | {{ customer?.FirstName }} {{customer?.LastName}}
        span.pull-right
            //- route edit
            a.btn.btn-primary(routerLink='/edit/{{customer?.CustomerID}}') Edit
            button.btn.btn-danger((click)='deleteCustomer(customer?.CustomerID)') Delete
    ul.list-group
        li.list-group-item
            span.glyphicon.glyphicon-Phone(aria-hidden='true')
            |  {{customer?.Phone}}
        li.list-group-item
            span.glyphicon.glyphicon-envelope(aria-hidden='true')
            |  {{customer?.Email}}
    ul.list-group
        li.list-group-item {{customer?.Address}}
        li.list-group-item {{customer?.City}}
        li.list-group-item {{customer?.State}}
