<br>
<br>
<div class="col-xs-12">
    <div class="table-responsive col-sm-12 col-md-2 m-t-sm">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><h1>Rooms</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Oasis Room 1</td></tr>
                <tr><td>Oasis Room 2</td></tr>
                <tr><td>Oasis Room 3</td></tr>
            </tbody>
        </table>
    </div>
    <div id="calendar" class="col-sm-12 col-md-10 fc fc-ltr fc-bootstrap3"></div>
</div>