.container
    h1.page-header Manage Customers
    input.form-control([(ngModel)]='filterInput', type='text', placeholder='Enter Name')
    br
    .table-responsive
        table.table.table-striped
            thead
                th First Name
                th Last Name
                th Email
                th
            tbody
                tr(*ngFor='let customer of filterBy(Customers, filterInput)')
                    td {{customer.FirstName}}
                    td {{customer.LastName}}
                    td {{customer.Email}}
                    td
                        a([routerLink]="['/details', customer.CustomerID]") View
